
.icon-github-squared:before { content: '\e803'; } /* '' */
.icon-linkedin-squared:before { content: '\e801'; } /* '' */
.icon-twitter-squared:before { content: '\e802'; } /* '' */
.icon-youtube-squared:before { content: '\e800'; } /* '' */